.nav__section{
    display: flex;
    border:1px solid red;
    width: 1440px;
    margin: 0 auto;
}

.nav__division{
    display: flex;
    border: 1px solid blue;
    width: 100%;
    padding: 5rem;
    flex-wrap: wrap;
}

.nav__article{
    flex: 1;
    border: 1px solid green;
    margin: 1rem;
}