:root{
    --max-width-container: 512px;
    --padding-section: 1.5rem;
    --padding-container: 1rem;
    --primary-border-radius: 0.5rem;

    --primary-shadow-color: #ffffff80;
    --secondary-shadow-color: #ffffff40;
    --primary-highlight-color: #61dafb;
    --secondary-highlight-color: gold;
    --primary-background-color:#8EC5FC;
    --secondary-background-color:#E0C3FC;
    --reverse-primary-shadow-color: #ededed80;
    --reverse-secondary-shadow-color: #d2d2d2;
    --primary-background-img:#eeffff;
    --primary-shadow-color: #ffffff80;
    --secondary-shadow-color: #ffffff40;
    --primary-font-family:'Raleway', sans-serif;
    
    --letter-color-1:#bef264;
    --letter-color-2:#0ea5e9;
    --letter-color-3:#fdba74;
    --letter-color-4:#3b82f6;
    --letter-color-5:#f97316;
    --letter-color-6:#ef4444;
    --letter-color-7:#cdcdcd;
    --letter-color-8:#f6f66f;
}